.adminNavbar{
    width: 100vw;
    position: fixed;
    z-index: 1000;
}
.sidemenu{
    position: fixed;
    padding-top: 120px;
    min-height: 100vh;
    border-right: solid 5px rgb(26, 28, 45);
    transition: all 0.2s ease-in-out;
    z-index: 900;
}

.overlay{
    position: fixed;
    background: black;
    opacity: 70%;
    width: 100vw;
    min-height: 100vh;
    filter: blur(4px);
    z-index: 899;
}

.mainContent{    
    padding-top: 80px;
    min-height: 100vh;
}

@media screen and (max-width: 550px) {
    .mainContent{    
        padding-top: 100px;
    }   
}